body{
    background-color: black;
}
.instagramPost{
    background-color: white;
    height: 800px;
    width: 600px;
    display: flex;
    margin-left: 33%;
    margin-top: 3%;
}
.header{
    display: flex;
}
.header, .headerLeft{
    text-align: left;
    padding-top: 15px;
    padding-left: 5px;
}
.headerCenter{
display: block;
padding: 10px;
padding-top: 0px;
line-height: 0;
font-size: x-large;
}
 .headerRight{
     display: block;
     padding-top: 10px;
     /* padding-right: 15px; */
     width: 410px;
     float: right;
     text-align: right;
}
img{
    height: 400px;
    width: 600px;
}
.icon{
    display: flex;
    text-align: left;
    padding-top: 20px;
    /* border: dotted red; */
}
.iconLeft{
    padding-left: 5px;
}
.iconRight{
    display: block;
    width: 410px;
    text-align: right;
    padding-right: 10px;
    /* border: dotted red; */

}
.content{
    padding: 20px 10px 30px 20px;
    font-size: larger;
}